{"swagger":"2.0","info":{"description":"The bol.com API for Retailers","version":"3.0.0","title":"v3"},"host":"merchant.services.test2.bol.com","basePath":"/","tags":[{"name":"Commission","description":"Commissions Controller"},{"name":"Inbounds","description":"Inbounds Controller"},{"name":"Invoices","description":"Invoices Controller"},{"name":"Offers","description":"Offers Controller"},{"name":"Orders","description":"Orders Controller"},{"name":"Process Status","description":"Process Status Controller"},{"name":"Reductions","description":"Reductions Controller"},{"name":"Return Controller","description":"Return Controller"},{"name":"Shipment Controller","description":"Shipment Controller"},{"name":"Shipments","description":"Shipments Controller"},{"name":"Shipping Labels","description":"Shipping Labels Controller"},{"name":"Transports","description":"Transports Controller"}],"consumes":["application/json"],"produces":["application/json"],"paths":{"/retailer/commission":{"post":{"tags":["Commission"],"summary":"Get all commissions and reductions by EAN in bulk.","description":"Gets all commissions and possible reductions by EAN, condition, and optionally price. No more than 100 EANs can be sent in a single request.","operationId":"get-commissions","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/BulkCommissionRequest"}}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/BulkCommissionResponse"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."},"404":{"description":"Not found: The requested item could not been found."}}}},"/retailer/commission/{ean}":{"get":{"tags":["Commission"],"summary":"Get all commissions and reductions by EAN per single EAN.","description":"Commissions can be filtered by condition, which defaults to NEW. If price is provided, the exact commission amount will also be calculated.","operationId":"get-commission","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"ean","in":"path","description":"EAN number associated with this product.","required":true,"type":"string"},{"name":"condition","in":"query","description":"Condition of the offer. It is possible to have more conditions per EAN.","required":false,"type":"string","default":"NEW","enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]},{"name":"price","in":"query","description":"The price of the product with a period as a decimal separator.","required":false,"type":"number","maximum":9999.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/Commission"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."},"404":{"description":"Not found: The requested item could not been found."}}}},"/retailer/inbounds":{"get":{"tags":["Inbounds"],"summary":"Get inbound shipment list.","description":"A List of inbound shipments.","operationId":"get-inbounds","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"reference","in":"query","description":"A user defined reference to identify the inbound shipment with.","required":false,"type":"string"},{"name":"bsku","in":"query","description":"BSKU number associated with this product.","required":false,"type":"string"},{"name":"creation-start","in":"query","description":"The creation start date to find the inbound shipment in ISO 8601 format.","required":false,"type":"string"},{"name":"creation-end","in":"query","description":"The creation end date to find the inbound shipment in ISO 8601 format.","required":false,"type":"string"},{"name":"state","in":"query","description":"The current state of the inbound shipment.","required":false,"type":"string","enum":["Draft","PreAnnounced","ArrivedAtWH","Cancelled"]},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/Inbounds"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}},"post":{"tags":["Inbounds"],"summary":"Post inbound shipment.","description":"Create a new inbound shipment.","operationId":"post-inbound","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"in":"body","name":"inboundRequest","description":"inboundRequest","required":true,"schema":{"$ref":"#/definitions/InboundRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProcessStatus"}},"202":{"description":"Accepted: Succesfully scheduled the request for processing.","schema":{"$ref":"#/definitions/ProcessStatus"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/inbounds/delivery-windows":{"get":{"tags":["Inbounds"],"summary":"Get delivery windows for inbound shipments.","description":"Retrieve a list of available delivery windows for an inbound shipment.","operationId":"get-delivery-windows","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"delivery-date","in":"query","description":"The expected delivery date for the inbound in ISO 8601 format.","required":false,"type":"string","default":"Today's date."},{"name":"items-to-send","in":"query","description":"The number of items that will be sent in the inbound.","required":false,"type":"integer","default":1,"minimum":1.0,"exclusiveMinimum":false,"format":"int32"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/Delivery windows for inbound shipments."}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/inbounds/fbb-transporters":{"get":{"tags":["Inbounds"],"summary":"Get FBB transporters list.","description":"Get FBB transporters list.","operationId":"get-fbb-transporters","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/TransportersResponse"}}}}},"/retailer/inbounds/productlabels":{"post":{"tags":["Inbounds"],"summary":"Get FBB Productlabels by EAN.","description":"Get FBB Productlabels by EAN.","operationId":"get-product-labels","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+pdf"],"parameters":[{"name":"format","in":"query","description":"The printer format to create labels for.","required":false,"type":"string","default":"AVERY_J8159","enum":["AVERY_J8159","AVERY_J8160","AVERY_3474","DYMO_99012","BROTHER_DK11208D","ZEBRA_Z_PERFORM_1000T"]},{"in":"body","name":"productLabelsRequest","description":"The product labels to retrieve.","required":false,"schema":{"$ref":"#/definitions/ProductLabelsRequest"}}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"type":"string","format":"byte"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."},"404":{"description":"Not found: The requested item could not been found."}}}},"/retailer/inbounds/{inboundId}":{"get":{"tags":["Inbounds"],"summary":"Get inbound by inboundId.","description":"Get inbound by inboundId.","operationId":"get-inbound","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"inboundId","in":"path","description":"A unique id for an inbound shipment.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/Inbound"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/inbounds/{inboundId}/packinglist":{"get":{"tags":["Inbounds"],"summary":"Get packing list by inboundId.","description":"Get packing list by inboundId.","operationId":"get packing list","produces":["application/vnd.retailer.v3+pdf"],"parameters":[{"name":"inboundId","in":"path","description":"A unique id for an inbound shipment.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"type":"string","format":"byte"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/inbounds/{inboundId}/shippinglabel":{"get":{"tags":["Inbounds"],"summary":"Get FBB-shippinglabel bij InboundId.","description":"Get FBB-shippinglabel bij InboundId.","operationId":"get-inbound-shipping-label","produces":["application/vnd.retailer.v3+pdf"],"parameters":[{"name":"inboundId","in":"path","description":"A unique id for an inbound shipment.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"type":"string","format":"byte"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/inventory":{"get":{"tags":["Inbounds"],"summary":"Gets LVB/FBB inventory","description":"The inventory endpoint is a specific LVB/FBB endpoint; it only provides information about your Fulfillment by bol.com Inventory. This endpoint does not provide information about your own stock.","operationId":"get-inventory","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer","default":1,"format":"int32"},{"name":"quantity","in":"query","description":"Filter inventory by quantity.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stock","in":"query","description":"Filter inventory by stock level.","required":false,"type":"string","enum":["sufficient","insufficient"]},{"name":"state","in":"query","description":"Filter inventory by NCKs-stock level.","required":false,"type":"string","enum":["saleable","unsaleable"]},{"name":"query","in":"query","description":"Filter inventory by EAN or product title.","required":false,"type":"string"}],"responses":{"200":{"description":"Ok: Succesfully processed the request.","schema":{"$ref":"#/definitions/InventoryResponse"}},"400":{"description":"Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information."}}}},"/retailer/invoices":{"get":{"tags":["Invoices"],"summary":"Get all invoices","description":"Gets a list of invoices from the past 4 weeks. The optional period can be used to retrieve invoices from the past.","operationId":"get-invoices","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"period","in":"query","description":"The period to get invoices for. The period parameter has to comply to the ISO 6801 standard. The format of this standard is as follows: yyyy-mm-dd/yyyy-mm-dd. The period can be no longer than 32 days. The list of invoices is sorted on date in descending order.","required":false,"type":"string"},{"name":"orderId","in":"query","description":"The id of the order to get invoices for. If the response is empty you can safely assume that the OrderId has not generated an InvoiceId yet. In the end, this parameter could be used to check if you have been paid for a certain OrderId.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}}}},"/retailer/invoices/{invoiceId}":{"get":{"tags":["Invoices"],"summary":"Get an invoice by invoice id","description":"Gets an invoice by invoice id.","operationId":"get-invoice","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml","application/vnd.retailer.v3+pdf"],"parameters":[{"name":"invoiceId","in":"path","description":"The id of the invoice","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"404":{"description":"Invoice not found"}}}},"/retailer/invoices/{invoiceId}/specification":{"get":{"tags":["Invoices"],"summary":"Get an invoice specification by invoice id","description":"Gets an invoice specification for an invoice with a paginated list of its transactions.","operationId":"get-invoice-specification","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml","application/vnd.retailer.v3+pdf"],"parameters":[{"name":"invoiceId","in":"path","description":"The id of the invoice","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The page to get","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}}}},"/retailer/offers":{"put":{"tags":["Offers"],"summary":"Create or update an offer","description":"Offers are uniquely identified by the combination of EAN+Condition. When inserting an EAN+Condition combination that is already known as an offer, this request will result in an update for that offer. When inserting an EAN+Condition combination that is not yet known as an offer, it will result in a newly created offer.","operationId":"upsert-offer","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"in":"body","name":"upsertRequest","description":"upsertRequest","required":true,"schema":{"$ref":"#/definitions/UpsertRequest"}}],"responses":{"202":{"description":"Accepted","schema":{"type":"object"}},"400":{"description":"Unable to parse the supplied body"}}},"delete":{"tags":["Offers"],"summary":"Delete offers in bulk","description":"Delete multiple offers in a single request up to a maximum of 1000.","operationId":"delete-offers","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"in":"body","name":"deleteBulkRequest","description":"deleteBulkRequest","required":true,"schema":{"$ref":"#/definitions/DeleteBulkRequest"}}],"responses":{"202":{"description":"Accepted","schema":{"type":"object"}}}}},"/retailer/offers/export":{"get":{"tags":["Offers"],"summary":"Create offers CSV file","description":"Creates a CSV file continaing all offers filtered by published status. If the published status isn't provided, all offers are included. The URI to the created CSV file is returned which can be used in the call to download the CSV file.","operationId":"create-offer-csv-file","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"filter","in":"query","description":"Filter the returned offers by published status","required":false,"type":"string","enum":["published","not-published"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OfferFile"}},"400":{"description":"Invalid filter"}}}},"/retailer/offers/export/{filename}":{"get":{"tags":["Offers"],"summary":"Download offers CSV file","description":"The CSV file is created by calling 'Create offers CSV file'","operationId":"download-offer-csv-file","produces":["text/csv"],"parameters":[{"name":"filename","in":"path","description":"The filename of the CSV file","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"404":{"description":"Offer file xxx.csv does not exist (anymore)"}}}},"/retailer/offers/{ean}":{"get":{"tags":["Offers"],"summary":"Get an offer by product EAN","description":"Gets all offers for products with the given EAN. If condition is provided, only offers for the given product EAN with that condition are returned","operationId":"get-offer","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"ean","in":"path","description":"The EAN of the product to get offers for","required":false,"type":"string"},{"name":"condition","in":"query","description":"The condition of the product to filter offers by","required":false,"type":"string","enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OfferResponse"}},"400":{"description":"Invalid parameter"},"404":{"description":"Offer for EAN XXX not found"}}}},"/retailer/orders":{"get":{"tags":["Orders"],"summary":"Get all open orders","description":"Gets a paginated list of open orders sorted by date (descending).","operationId":"get-orders","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"page","in":"query","description":"The page to get","required":false,"type":"integer","default":1,"format":"int32"},{"name":"fulfilment-method","in":"query","description":"The fulfilment method to filter orders by","required":false,"type":"string","default":"FBR","enum":["FBR","FBB"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Orders"}},"400":{"description":"Invalid filter: XXX"}}}},"/retailer/orders/{orderId}":{"get":{"tags":["Orders"],"summary":"Get an order by order id","description":"Gets an order by order id","operationId":"get-order","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"orderId","in":"path","description":"The id of the order to get","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Orders"}}}}},"/retailer/orders/{orderItemId}/cancellation":{"put":{"tags":["Orders"],"summary":"Cancel an order by order item id","description":"This endpoint can be used to either confirm a cancellation request by the customer, or to cancel an order you yourself are unable to fulfil.","operationId":"cancel-order","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"orderItemId","in":"path","description":"The id of the order item to cancel. The order item id is returned in the order request.","required":false,"type":"string"},{"in":"body","name":"cancellation","description":"cancellation","required":true,"schema":{"$ref":"#/definitions/Cancellation"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProcessStatus"}},"400":{"description":"Unable to parse the supplied body"}}}},"/retailer/process-status/{id}":{"get":{"tags":["Process Status"],"summary":"Get the status of an asynchronous process by id","description":"Asynchronous endpoints return a process id which is used as a parameter in this endpoint to get the status.","operationId":"get-process-status","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"id","in":"path","description":"The ID of the process-status being requested. This ID is supplied in every response to a PUT/POST request on the other endpoints.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcessStatus"}},"400":{"description":"Invalid parameter"},"404":{"description":"Not found"}}}},"/retailer/purchasable-shippinglabels/{orderItemId}":{"get":{"tags":["Shipping Labels"],"summary":"Get purchasable shipping labels by product OrderItemId","description":"Gets all purchasable shipping labels for orders with the given orderItemId.","operationId":"get-purchasable-shipping-labels","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"orderItemId","in":"path","description":"The orderItemId of the order to get purchasable shipping labels from","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PurchasableShippingLabelsResponse"}},"400":{"description":"Invalid parameter"},"404":{"description":"Shipping labels for OrderItemId:{orderItemId} not found"}}}},"/retailer/reductions":{"get":{"tags":["Reductions"],"summary":"getReductions","operationId":"getReductionsUsingGET","produces":["text/csv"],"responses":{"200":{"description":"OK"}}}},"/retailer/reductions/latest":{"get":{"tags":["Reductions"],"summary":"getReductionFileName","operationId":"getReductionFileNameUsingGET","produces":["text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/retailer/returns":{"get":{"tags":["Return Controller"],"summary":"Retrieve return items.","operationId":"getReturnsUsingGET","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"page","in":"query","description":"The page to get","required":false,"type":"integer","default":1,"minimum":1.0,"exclusiveMinimum":false,"format":"int32"},{"name":"handled","in":"query","description":"Unhandled or handled returns","required":false,"type":"boolean","default":false},{"name":"fulfilment-method","in":"query","description":"The fulfilment method to filter orders by","required":false,"type":"string","default":"FBR","enum":["FBR","FBB"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ReturnsResponse"}},"400":{"description":"Value {page} is invalid. must be greater than or equal to 0"}}}},"/retailer/returns/{returnNumber}":{"put":{"tags":["Return Controller"],"summary":"Handle an open return","description":"Allows the user to handle a return by setting a new status for it after receiving the returned item(s).","operationId":"handle-return","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"returnNumber","in":"path","description":"The return number","required":false,"type":"integer","format":"int32"},{"in":"body","name":"statusUpdate","description":"The status update requested by the user","required":false,"schema":{"$ref":"#/definitions/ReturnItemStatusUpdate"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ProcessStatus"}},"400":{"description":"Bad request"}}}},"/retailer/shipments":{"get":{"tags":["Shipments"],"summary":"Get all shipments","description":"Gets a paginated list of shipments ordered by date for the given fulfilment method and order-id. When no order id is specified, shipments for all orders are returned.","operationId":"get-shipments","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"page","in":"query","description":"The page number to get","required":false,"type":"integer","default":1,"format":"int32"},{"name":"fulfilment-method","in":"query","description":"The fulfilment method. FBR means Fulfilment By Retailer and FBB means Fulfilment By Bol","required":false,"type":"string","default":"FBR","enum":["FBR","FBB"]},{"name":"order-id","in":"query","description":"The id of the order to get shipment information for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShipmentResponse"}},"400":{"description":"Invalid parameter"}}},"post":{"tags":["Shipment Controller"],"summary":"Ship order","operationId":"shipOrderItemUsingPOST","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"in":"body","name":"shipmentRequest","description":"shipmentRequest","required":true,"schema":{"$ref":"#/definitions/ShipmentRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProcessStatus"}}}}},"/retailer/shipments/{shipmentId}":{"get":{"tags":["Shipments"],"summary":"Get a shipment by shipment id","description":"Gets a shipment by shipment id.","operationId":"get-shipment","produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"shipmentId","in":"path","description":"The id of the shipment","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Shipment"}},"400":{"description":"Invalid parameter"},"404":{"description":"Shipment not found for shipment id xxx."}}}},"/retailer/transports/{transportId}":{"put":{"tags":["Transports"],"summary":"Put Change transport","operationId":"changeTransportUsingPUT","consumes":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"produces":["application/vnd.retailer.v3+json","application/vnd.retailer.v3+xml"],"parameters":[{"name":"transportId","in":"path","description":"transportId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"changeTransport","description":"changeTransport","required":true,"schema":{"$ref":"#/definitions/ChangeTransportRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProcessStatus"}}}}},"/retailer/transports/{transportId}/shipping-label":{"get":{"tags":["Transports"],"summary":"Get Shippinglabel","operationId":"getShippingLabelUsingGET","produces":["application/pdf"],"parameters":[{"name":"transportId","in":"path","description":"@Min: 1.0 - @Max: null (until #1244 gets fixed)","required":true,"type":"integer","minimum":1.0,"exclusiveMinimum":false,"format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}}}}},"definitions":{"AddressDetails":{"type":"object","required":["City","CountryCode","Email","FirstName","HouseNumber","SalutationCode","StreetName","SurName","ZipCode"],"properties":{"AddressSupplement":{"type":"string","example":"Billie Jansen","allowEmptyValue":false},"City":{"type":"string","example":"Utrecht","allowEmptyValue":false},"Company":{"type":"string","example":"bol.com","allowEmptyValue":false},"CountryCode":{"type":"string","example":"NL","allowEmptyValue":false},"DeliveryPhoneNumber":{"type":"string","example":"012123456","allowEmptyValue":false},"Email":{"type":"string","example":"2awq74td4z4mizmx6dcdbsdbdcna@verkopen.bol.com","allowEmptyValue":false},"ExtraAddressInformation":{"type":"string","example":"Apartment","allowEmptyValue":false},"FirstName":{"type":"string","example":"Billie","allowEmptyValue":false},"HouseNumber":{"type":"string","example":1,"allowEmptyValue":false},"HouseNumberExtended":{"type":"string","example":"B","allowEmptyValue":false},"SalutationCode":{"type":"string","example":"02","allowEmptyValue":false},"StreetName":{"type":"string","example":"Dorpstraat","allowEmptyValue":false},"SurName":{"type":"string","example":"van der Bol.com","allowEmptyValue":false},"VatNumber":{"type":"string","example":"NL999999999B99","allowEmptyValue":false},"ZipCode":{"type":"string","example":"1111 ZZ","allowEmptyValue":false}},"title":"AddressDetails","description":"The address details of the order"},"BulkCommissionQuery":{"type":"object","required":["Ean"],"properties":{"Condition":{"type":"string","example":"NEW","description":"Condition of the offer. It is possible to have more conditions per EAN.","allowEmptyValue":false,"enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]},"Ean":{"type":"string","example":"0000007740404","description":"EAN number associated with this product.","allowEmptyValue":false,"minLength":1,"maxLength":2147483647},"Price":{"type":"number","example":10.99,"description":"The price of the product with a period as a decimal separator.","allowEmptyValue":false,"minimum":0.0,"maximum":9999.0,"exclusiveMinimum":false,"exclusiveMaximum":false}},"title":"BulkCommissionQuery"},"BulkCommissionRequest":{"type":"object","required":["CommissionQueries"],"properties":{"CommissionQueries":{"type":"array","items":{"$ref":"#/definitions/BulkCommissionQuery"}}},"title":"BulkCommissionRequest"},"BulkCommissionResponse":{"type":"object","required":["Commissions"],"properties":{"Commissions":{"type":"array","items":{"$ref":"#/definitions/Commission"}}},"title":"BulkCommissionResponse"},"Cancellation":{"type":"object","required":["DateTime","ReasonCode"],"properties":{"DateTime":{"type":"string","format":"date-time","example":"2018-01-31T15:30:41+01:00","description":"The date/time in ISO 8601 format when the article was cancelled.","allowEmptyValue":false},"ReasonCode":{"type":"string","description":"The code representing the reason for cancellation.","allowEmptyValue":false,"enum":["OUT_OF_STOCK","REQUESTED_BY_CUSTOMER","BAD_CONDITION","HIGHER_SHIPCOST","INCORRECT_PRICE","NOT_AVAIL_IN_TIME","NO_BOL_GUARANTEE","ORDERED_TWICE","RETAIN_ITEM","TECH_ISSUE","UNFINDABLE_ITEM","OTHER"]}},"title":"Cancellation"},"ChangeTransportRequest":{"type":"object","required":["TrackAndTrace"],"properties":{"TransporterCode":{"type":"string"},"TrackAndTrace":{"type":"string","minLength":1,"maxLength":2147483647,"pattern":"^([a-zA-Z0-9])+$"}},"title":"ChangeTransportRequest"},"Commission":{"type":"object","required":["FixedAmount","Percentage","Reductions"],"properties":{"Condition":{"type":"string","example":"NEW","description":"Condition of the offer. It is possible to have more conditions per EAN.","allowEmptyValue":false},"Ean":{"type":"string","example":"0000007740404","description":"EAN number associated with this product.","allowEmptyValue":false},"FixedAmount":{"type":"number","example":0.99,"description":"Fixed fee.","allowEmptyValue":false},"Percentage":{"type":"number","example":15.0,"description":"Percentage of offer price. This percentage varies per product category.","allowEmptyValue":false},"Price":{"type":"number","example":10.99,"description":"The price of the product with a period as a decimal separator.","allowEmptyValue":false},"Reductions":{"type":"array","items":{"$ref":"#/definitions/Reduction"}},"TotalCost":{"type":"number","example":1.99,"description":"Total applicable fee calculated based on the offer price provided.","allowEmptyValue":false},"TotalCostWithoutReduction":{"type":"number","example":3.99,"description":"Total applicable fee calculated based on the offer price which would be in effect if you do not meet the maximum price criteria.","allowEmptyValue":false}},"title":"Commission"},"CustomerDetails":{"type":"object","required":["AddressSupplement","City","Company","CountryCode","DeliveryPhoneNumber","Email","ExtraAddressInformation","FirstName","HouseNumber","HouseNumberExtended","SalutationCode","StreetName","Surname","VatNumber","ZipCode"],"properties":{"AddressSupplement":{"type":"string","example":"Billie Jansen","allowEmptyValue":false},"City":{"type":"string","example":"Utrecht","allowEmptyValue":false},"Company":{"type":"string","example":"bol.com","allowEmptyValue":false},"CountryCode":{"type":"string","example":"NL","allowEmptyValue":false},"DeliveryPhoneNumber":{"type":"string","example":"012123456","allowEmptyValue":false},"Email":{"type":"string","example":"nepemail@verkopen.bol.com","allowEmptyValue":false},"ExtraAddressInformation":{"type":"string","example":"Apartment","allowEmptyValue":false},"FirstName":{"type":"string","example":"Bolina","allowEmptyValue":false},"HouseNumber":{"type":"string","example":51,"allowEmptyValue":false},"HouseNumberExtended":{"type":"string","example":"A","allowEmptyValue":false},"SalutationCode":{"type":"string","example":"01","allowEmptyValue":false},"StreetName":{"type":"string","example":"Bol Weg","allowEmptyValue":false},"Surname":{"type":"string","example":"Jansen","allowEmptyValue":false},"VatNumber":{"type":"string","example":"NL999999999B99","allowEmptyValue":false},"ZipCode":{"type":"string","example":"1234 AB","allowEmptyValue":false}},"title":"CustomerDetails"},"DeleteBulkRequest":{"type":"object","required":["RetailerOfferIdentifier"],"properties":{"RetailerOfferIdentifier":{"type":"array","items":{"$ref":"#/definitions/RetailerOfferIdentifier"}}},"title":"DeleteBulkRequest"},"Delivery windows for inbound shipments.":{"type":"object","required":["TimeSlots"],"properties":{"TimeSlots":{"type":"array","description":"An available timeslot to be reserved for inbound shipments.","allowEmptyValue":false,"items":{"$ref":"#/definitions/TimeSlot"}}},"title":"Delivery windows for inbound shipments."},"Inbound":{"type":"object","required":["AnnouncedBSKUs","AnnouncedQuantity","Id","LabellingService","Products","ReceivedBSKUs","ReceivedQuantity","Reference","State","StateTransitions"],"properties":{"AnnouncedBSKUs":{"type":"integer","format":"int64","example":1,"description":"The number of announced BSKU's.","allowEmptyValue":false},"AnnouncedQuantity":{"type":"integer","format":"int64","example":100,"description":"The number of announced items.","allowEmptyValue":false},"CreationDate":{"type":"string","format":"date-time","example":"2018-01-01T13:00:00.000+01:00","description":"The date the inbound shipment was created in ISO 8601 format.","allowEmptyValue":false},"Id":{"type":"integer","format":"int64","example":12345678,"description":"A unique id for an inbound shipment.","allowEmptyValue":false},"LabellingService":{"type":"boolean","example":true,"description":"Indicates whether the inbound will be labeled by bol.com or not.","allowEmptyValue":false},"Products":{"type":"array","description":"List of products.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Product"}},"ReceivedBSKUs":{"type":"integer","format":"int64","example":1,"description":"The number of received BSKU's.","allowEmptyValue":false},"ReceivedQuantity":{"type":"integer","format":"int64","example":100,"description":"The number of received items.","allowEmptyValue":false},"Reference":{"type":"string","example":"SHIPMENT1","description":"A user defined reference to identify the inbound shipment with.","allowEmptyValue":false},"State":{"type":"string","example":"Draft","description":"The current state of the inbound shipment.","allowEmptyValue":false,"enum":["Draft","PreAnnounced","ArrivedAtWH","Cancelled"]},"StateTransitions":{"type":"array","description":"List of state transitions.","allowEmptyValue":false,"items":{"$ref":"#/definitions/StateTransition"}},"TimeSlot":{"description":"The chosen timeslot for the inbound shipment.","allowEmptyValue":false,"$ref":"#/definitions/TimeSlot"}},"title":"Inbound"},"InboundRequest":{"type":"object","required":["FbbTransporter","LabellingService","Products","TimeSlot"],"properties":{"FbbTransporter":{"description":"Transporter for the inbound shipment.","allowEmptyValue":false,"$ref":"#/definitions/Transporter"},"LabellingService":{"type":"boolean","example":false,"description":"Indicates whether the inbound will be labeled by bol.com or not.","allowEmptyValue":false},"Products":{"type":"array","description":"List of products.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Product"}},"Reference":{"type":"string","example":"SHIPMENT1","description":"A user defined reference to identify the inbound shipment with.","allowEmptyValue":false,"minLength":1,"maxLength":2147483647},"TimeSlot":{"description":"The chosen timeslot for the inbound shipment.","allowEmptyValue":false,"$ref":"#/definitions/TimeSlot"}},"title":"InboundRequest"},"Inbounds":{"type":"object","required":["Inbounds","TotalCount","TotalPageCount"],"properties":{"Inbounds":{"type":"array","description":"An inbound shipment.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Inbound"}},"TotalCount":{"type":"integer","format":"int64","example":1,"description":"Number of total inbound shipments.","allowEmptyValue":false},"TotalPageCount":{"type":"integer","format":"int32","example":1,"description":"Total number of pages.","allowEmptyValue":false}},"title":"Inbounds"},"InventoryOffer":{"type":"object","required":["Bsku","Ean","NckStock","Stock","Title"],"properties":{"Bsku":{"type":"string","example":2950002126612,"description":"BSKU number associated with this product.","allowEmptyValue":false},"Ean":{"type":"string","example":"0000007740404","description":"EAN number associated with this product.","allowEmptyValue":false},"NckStock":{"type":"integer","format":"int32","example":10,"description":"The stock that can't be sold (unsaleable)","allowEmptyValue":false},"Stock":{"type":"integer","format":"int32","example":10,"description":"The stock that can be sold (saleable).","allowEmptyValue":false},"Title":{"type":"string","example":"Product Title","description":"The product title.","allowEmptyValue":false}},"title":"InventoryOffer"},"InventoryResponse":{"type":"object","required":["Offers","TotalCount","TotalPageCount"],"properties":{"Offers":{"type":"array","items":{"$ref":"#/definitions/InventoryOffer"}},"TotalCount":{"type":"integer","format":"int32","example":1,"description":"The total amount of unique numbers.","allowEmptyValue":false},"TotalPageCount":{"type":"integer","format":"int32","example":1,"description":"The total amount of available pages with offers.","allowEmptyValue":false}},"title":"InventoryResponse"},"Link":{"type":"object","required":["Href","Method","Rel"],"properties":{"Href":{"type":"string","example":"https://api.bol.com/retailer/process-status/v2/1234567","allowEmptyValue":false},"Method":{"type":"string","example":"GET","allowEmptyValue":false},"Rel":{"type":"string","example":"self","allowEmptyValue":false}},"title":"Link"},"OfferFile":{"type":"object","required":["Url"],"properties":{"Url":{"type":"string","example":"https://plazaapi.acc2.bol.com/offers/v2/export/sEyOhelBbnncFhqRHplYOvvgULPgFkbWiDmaKeOLqlGFSfibyrFCrTzMPNum.csv","allowEmptyValue":false}},"title":"OfferFile"},"OfferResponse":{"type":"object","required":["RetailerOffers"],"properties":{"RetailerOffers":{"type":"array","items":{"$ref":"#/definitions/RetailerOffer"}}},"title":"OfferResponse"},"Order":{"type":"object","required":["CustomerDetails","OrderId","OrderItems"],"properties":{"CustomerDetails":{"$ref":"#/definitions/CustomerDetails"},"DateTimeCustomer":{"type":"string","format":"date-time","example":"2017-02-09T12:39:48+01:00","allowEmptyValue":false},"DateTimeDropShipper":{"type":"string","format":"date-time","example":"2017-02-09T12:39:48+01:00","allowEmptyValue":false},"OrderId":{"type":"string","example":4123456789,"allowEmptyValue":false},"OrderItems":{"type":"array","items":{"$ref":"#/definitions/OrderItem"}}},"title":"Order","description":"An order"},"OrderItem":{"type":"object","required":["CancelRequest","Ean","FulfilmentMethod","OfferCondition","OfferPrice","OrderItemId","Quantity","Title","TransactionFee"],"properties":{"CancelRequest":{"type":"boolean","example":false,"allowEmptyValue":false},"Ean":{"type":"string","example":5412810182312,"allowEmptyValue":false},"FulfilmentMethod":{"type":"string","example":"FBR","allowEmptyValue":false},"LatestDeliveryDate":{"type":"string","format":"date","example":"2017-02-10","allowEmptyValue":false},"OfferCondition":{"type":"string","example":"NEW","allowEmptyValue":false},"OfferPrice":{"type":"number","format":"double","example":27.95,"allowEmptyValue":false},"OfferReference":{"type":"string","example":"BOLCOM00123","allowEmptyValue":false},"OrderItemId":{"type":"string","example":2012345678,"allowEmptyValue":false},"Quantity":{"type":"integer","format":"int32","example":1,"allowEmptyValue":false},"SelectedDeliveryWindow":{"$ref":"#/definitions/SelectedDeliveryWindow"},"Title":{"type":"string","example":"Basicxl - Rijdende Wekker - Kunststof - 16x11cm - Zwart","allowEmptyValue":false},"TransactionFee":{"type":"number","format":"double","example":5.18,"allowEmptyValue":false}},"title":"OrderItem","description":"Order item details from an order"},"Orders":{"type":"object","required":["Orders"],"properties":{"Orders":{"type":"array","items":{"$ref":"#/definitions/Order"}}},"title":"Orders","description":"Container for many orders"},"ProcessStatus":{"type":"object","required":["CreateTimestamp","Description","EventType","Links","SellerId","Status"],"properties":{"CreateTimestamp":{"type":"string","format":"date-time","example":"2016-11-14T09:34:41.000+01:00","allowEmptyValue":false},"Description":{"type":"string","example":"Confirm shipment for order item 987654321.","allowEmptyValue":false},"EntityId":{"type":"string","example":987654321,"allowEmptyValue":false},"ErrorMessage":{"type":"string","example":"The item is already shipped or cancelled","allowEmptyValue":false},"EventType":{"type":"string","example":"CONFIRM_SHIPMENT","allowEmptyValue":false},"Id":{"type":"integer","format":"int64","example":1234567,"allowEmptyValue":false},"Links":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/Link"}},"SellerId":{"type":"integer","format":"int64","example":123456789,"allowEmptyValue":false},"Status":{"type":"string","enum":["PENDING","SUCCESS","FAILURE","TIMEOUT"]}},"title":"ProcessStatus"},"Product":{"type":"object","required":["AnnouncedQuantity"],"properties":{"AnnouncedQuantity":{"type":"integer","format":"int32","example":100,"description":"The number of announced items.","allowEmptyValue":false},"Bsku":{"type":"string","example":2950002126612,"description":"BSKU number associated with this product.","allowEmptyValue":false},"Ean":{"type":"string","example":"0000007740404","description":"EAN number associated with this product.","allowEmptyValue":false},"ReceivedQuantity":{"type":"integer","format":"int32","example":100,"description":"The number of received items.","allowEmptyValue":false},"State":{"type":"string","example":"Draft","description":"The current state of the inbound product.","allowEmptyValue":false,"enum":["Draft","PreAnnounced","ArrivedAtWH","Cancelled"]}},"title":"Product"},"ProductLabel":{"type":"object","required":["Ean","Quantity"],"properties":{"Ean":{"type":"string","example":"0000007740404","description":"EAN number associated with this product.","allowEmptyValue":false},"Quantity":{"type":"integer","format":"int32","example":10,"description":"Number of products to generate labels for.","allowEmptyValue":false}},"title":"ProductLabel"},"ProductLabelsRequest":{"type":"object","required":["ProductLabels"],"properties":{"ProductLabels":{"type":"array","items":{"$ref":"#/definitions/ProductLabel"}}},"title":"ProductLabelsRequest"},"PurchasableShippingLabel":{"type":"object","required":["Discount","LabelType","MaxDimensions","MaxWeight","PurchasePrice","RetailerPrice","ShippingLabelCode","TransporterCode"],"properties":{"Discount":{"type":"number","example":1.0,"description":"The discount of the item that has been sold.","allowEmptyValue":false},"LabelType":{"type":"string","example":"PARCEL","description":"The type of the label, representing the way an item is being transported.","allowEmptyValue":false},"MaxDimensions":{"type":"string","example":"10 x 10 x 10 cm","description":"The dimensions of a package.","allowEmptyValue":false},"MaxWeight":{"type":"string","example":"10 kg","description":"The weight of a package.","allowEmptyValue":false},"PurchasePrice":{"type":"number","example":1.0,"description":"The price the item has been bought for.","allowEmptyValue":false},"RetailerPrice":{"type":"number","example":1.0,"description":"The price the item has been sold for.","allowEmptyValue":false},"ShippingLabelCode":{"type":"string","example":"PLR00000001","description":"An unique code referring to the shipping label.","allowEmptyValue":false},"TransporterCode":{"type":"string","example":"TNT","description":"A code representing the transporter which is being used for transportation.","allowEmptyValue":false}},"title":"PurchasableShippingLabel"},"PurchasableShippingLabelsResponse":{"type":"object","required":["PurchasableShippingLabels"],"properties":{"PurchasableShippingLabels":{"type":"array","items":{"$ref":"#/definitions/PurchasableShippingLabel"}}},"title":"PurchasableShippingLabelsResponse"},"Reduction":{"type":"object","required":["CostReduction","EndDate","MaximumPrice","StartDate"],"properties":{"CostReduction":{"type":"number","example":2.99,"description":"Amount the will be deducted from the commission fee if the maximum price criteria is met.","allowEmptyValue":false},"EndDate":{"type":"string","format":"date","example":"2018-01-01","description":"Date at which time this commission reduction will end.","allowEmptyValue":false},"MaximumPrice":{"type":"number","example":29.99,"description":"Maximum offer price that can be used to still benefit from a commission reduction.","allowEmptyValue":false},"StartDate":{"type":"string","format":"date","example":"2018-01-01","description":"Date from which time this commission reduction is applicable.","allowEmptyValue":false}},"title":"Reduction"},"RetailerOffer":{"type":"object","required":["Condition","DeliveryCode","Description","Ean","FulfilmentMethod","Price","Publish","QuantityInStock","ReferenceCode","Status","Title","UnreservedStock"],"properties":{"Condition":{"type":"string","enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]},"DeliveryCode":{"type":"string","example":"1-8d","allowEmptyValue":false},"Description":{"type":"string","example":"Lorem ipsum dolor sit amet","allowEmptyValue":false},"Ean":{"type":"string","example":"0000007740404","allowEmptyValue":false},"FulfilmentMethod":{"type":"string","enum":["FBR","FBB"]},"Price":{"type":"number","format":"double","example":10.99,"allowEmptyValue":false},"Publish":{"type":"boolean"},"QuantityInStock":{"type":"integer","format":"int32","example":10,"allowEmptyValue":false},"ReferenceCode":{"type":"string","example":"REF12345","allowEmptyValue":false},"Status":{"$ref":"#/definitions/Status"},"Title":{"type":"string","example":"Lorem ipsum","allowEmptyValue":false},"UnreservedStock":{"type":"integer","format":"int32"}},"title":"RetailerOffer"},"RetailerOfferIdentifier":{"type":"object","required":["Condition","Ean"],"properties":{"Condition":{"type":"string","description":"Condition of the offer. It is possible to have more conditions per EAN, this means one EAN can be linked to multiple offers.  Please choose the EAN+Condition combination you wish to delete.  Note: if you do not specify a Condition, ALL Conditions for this EAN will be deleted","allowEmptyValue":false,"enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]},"Ean":{"type":"string","example":9781408845646,"description":"EAN number associated with this offer.","allowEmptyValue":false}},"title":"RetailerOfferIdentifier"},"ReturnItem":{"type":"object","required":["Ean","FulfilmentMethod","Handled","OrderId","Quantity","ReturnDateAnnouncement","ReturnNumber","ReturnReason","ReturnReasonComments","Title"],"properties":{"CustomerDetails":{"$ref":"#/definitions/CustomerDetails"},"Ean":{"type":"string"},"FulfilmentMethod":{"type":"string"},"Handled":{"type":"boolean"},"OrderId":{"type":"integer","format":"int64"},"Quantity":{"type":"integer","format":"int32"},"ReturnDateAnnouncement":{"type":"string","format":"date-time"},"ReturnNumber":{"type":"integer","format":"int64"},"ReturnReason":{"type":"string"},"ReturnReasonComments":{"type":"string"},"Title":{"type":"string"}},"title":"ReturnItem"},"ReturnItemStatusUpdate":{"type":"object","properties":{"QuantityReturned":{"type":"integer","format":"int32","example":1,"allowEmptyValue":false,"minimum":1.0,"exclusiveMinimum":false},"StatusReason":{"type":"string","example":"PRODUCT_RECEIVED","allowEmptyValue":false,"enum":["\"PRODUCT_RECEIVED\"","\"REPAIRED_OR_EXCHANGED\"","\"FAILS_TO_MATCH_RETURN_CONDITIONS\"","\"CUSTOMER_KEEPS_PRODUCT\""]}},"title":"ReturnItemStatusUpdate"},"ReturnsResponse":{"type":"object","required":["Returns"],"properties":{"Returns":{"type":"array","items":{"$ref":"#/definitions/ReturnItem"}}},"title":"ReturnsResponse"},"SelectedDeliveryWindow":{"type":"object","required":["Date","End","Start"],"properties":{"Date":{"type":"string","format":"date-time"},"End":{"type":"string","format":"date-time"},"Start":{"type":"string","format":"date-time"}},"title":"SelectedDeliveryWindow"},"Shipment":{"type":"object","required":["CustomerDetails","ShipmentDate","ShipmentId","ShipmentItems","ShipmentReference","Transport"],"properties":{"CustomerDetails":{"$ref":"#/definitions/CustomerDetails"},"ShipmentDate":{"type":"string","format":"date-time"},"ShipmentId":{"type":"integer","format":"int64","example":123456789,"allowEmptyValue":false},"ShipmentItems":{"type":"array","items":{"$ref":"#/definitions/ShipmentItem"}},"ShipmentReference":{"type":"string","example":"REF12345","allowEmptyValue":false},"Transport":{"$ref":"#/definitions/Transport"}},"title":"Shipment"},"ShipmentItem":{"type":"object","required":["ShipmentOrderItem"],"properties":{"ShipmentOrderItem":{"$ref":"#/definitions/ShipmentOrderItem"}},"title":"ShipmentItem"},"ShipmentOrderItem":{"type":"object","required":["Ean","FulfilmentMethod","LatestDeliveryDate","OfferCondition","OfferPrice","OfferReference","OrderDate","OrderId","OrderItemId","Quantity","Title"],"properties":{"Ean":{"type":"string","example":9781408845646,"allowEmptyValue":false},"FulfilmentMethod":{"type":"string","enum":["FBR","FBB"]},"LatestDeliveryDate":{"type":"string","format":"date-time"},"OfferCondition":{"type":"string","enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE","BAD","UNKNOWN"]},"OfferPrice":{"type":"number","example":25.95,"allowEmptyValue":false},"OfferReference":{"type":"string","example":"REF12345","allowEmptyValue":false},"OrderDate":{"type":"string","format":"date-time"},"OrderId":{"type":"string","example":123456789,"allowEmptyValue":false},"OrderItemId":{"type":"string","example":123456789,"allowEmptyValue":false},"Quantity":{"type":"integer","format":"int32","example":1,"allowEmptyValue":false},"SelectedDeliveryWindow":{"$ref":"#/definitions/SelectedDeliveryWindow"},"Title":{"type":"string","example":"Harry Potter and the Philosopher's Stone Illustrated Edition","allowEmptyValue":false}},"title":"ShipmentOrderItem"},"ShipmentRequest":{"type":"object","required":["OrderItemId"],"properties":{"OrderItemId":{"type":"string","minLength":1,"maxLength":2147483647},"ShipmentReference":{"type":"string"},"ShippingLabelCode":{"type":"string"},"Transport":{"$ref":"#/definitions/Transport"}},"title":"ShipmentRequest"},"ShipmentResponse":{"type":"object","required":["Shipments"],"properties":{"Shipments":{"type":"array","items":{"$ref":"#/definitions/Shipment"}}},"title":"ShipmentResponse"},"StateTransition":{"type":"object","required":["State"],"properties":{"State":{"type":"string","example":"Draft","description":"The state that was transitioned into.","allowEmptyValue":false,"enum":["Draft","PreAnnounced","ArrivedAtWH","Cancelled"]},"StateDate":{"type":"string","format":"date-time","example":"2018-01-01T13:00:00.000+01:00","description":"The transition date and time in ISO 8601 format.","allowEmptyValue":false}},"title":"StateTransition"},"Status":{"type":"object","required":["ErrorCode","ErrorMessage","Published"],"properties":{"ErrorCode":{"type":"string","example":"ERR1234","allowEmptyValue":false},"ErrorMessage":{"type":"string","example":"Price too high","allowEmptyValue":false},"Published":{"type":"boolean","example":false,"allowEmptyValue":false}},"title":"Status"},"TimeSlot":{"type":"object","required":["End","Start"],"properties":{"End":{"type":"string","format":"date-time","example":"2018-01-01T13:00:00.000+01:00","description":"The timeslot end date and time in ISO 8601 format.","allowEmptyValue":false},"Start":{"type":"string","format":"date-time","example":"2018-01-01T13:00:00.000+01:00","description":"The timeslot start date and time in ISO 8601 format.","allowEmptyValue":false}},"title":"TimeSlot"},"Transport":{"type":"object","required":["TrackAndTrace","TransportId","TransporterCode"],"properties":{"ShippingLabelId":{"type":"integer","format":"int64","example":123456789,"allowEmptyValue":false},"TrackAndTrace":{"type":"string","example":"3SBOLD1234567","allowEmptyValue":false},"TransportId":{"type":"integer","format":"int64","example":123456789,"allowEmptyValue":false},"TransporterCode":{"type":"string","example":"TNT","allowEmptyValue":false}},"title":"Transport"},"Transporter":{"type":"object","required":["Code","Name"],"properties":{"Code":{"type":"string","example":"TNT","description":"The transporter code.","allowEmptyValue":false},"Name":{"type":"string","example":"TNT Post","description":"The transporter name.","allowEmptyValue":false}},"title":"Transporter"},"TransportersResponse":{"type":"object","required":["FbbTransporters"],"properties":{"FbbTransporters":{"type":"array","items":{"$ref":"#/definitions/Transporter"}}},"title":"TransportersResponse"},"UpsertRequest":{"type":"object","properties":{"RetailerOffer":{"type":"array","items":{"$ref":"#/definitions/UpsertRetailerOffer"}}},"title":"UpsertRequest","description":"An array of offers to create or update"},"UpsertRetailerOffer":{"type":"object","required":["Condition","DeliveryCode","Description","Ean","ReferenceCode"],"properties":{"Condition":{"type":"string","description":"Whether the offer refers to a new or second hand product.","allowEmptyValue":false,"enum":["NEW","AS_NEW","GOOD","REASONABLE","MODERATE"]},"DeliveryCode":{"type":"string","description":"The delivery promise that applies to this product.","allowEmptyValue":false,"enum":["24uurs-23","24uurs-22","24uurs-21","24uurs-20","24uurs-19","24uurs-18","24uurs-17","24uurs-16","24uurs-15","24uurs-14","24uurs-13","24uurs-12","1-2d","2-3d","3-4d","3-5d","4-8d","1-8d","MijnLeverbelofte"]},"Description":{"type":"string","example":"Lorem ipsum dolor sit amet","description":"A description that is only applicable when the chosen condition is unequal to “NEW”. Note: It will be ignored if condition is NEW.  Attention: Maximum amount of characters: 2000.","allowEmptyValue":false},"Ean":{"type":"string","example":"0000007740404","description":"EAN code for the product being added.","allowEmptyValue":false},"FulfilmentMethod":{"type":"string","description":"Specifies whether this shipment has been fulfilled by the retailer (FBR) or by bol.com (FBB).","allowEmptyValue":false,"enum":["FBR","FBR"]},"Price":{"type":"number","format":"double","example":10.99,"description":"The price of the product with a period as a decimal separator. Maximum value: 9999","allowEmptyValue":false},"Publish":{"type":"boolean","example":false,"description":"Boolean (true/false) determining whether the seller desires the product to be offered for sale on the bol.com website. Note: Even when set to true, other factors may cause the offer not to be online.","allowEmptyValue":false},"QuantityInStock":{"type":"integer","format":"int32","example":10,"description":"The amount of items in stock. Minimum value: 0. Maximum value: 999","allowEmptyValue":false},"ReferenceCode":{"type":"string","example":"REF12345","description":"A value that may help you identify this particular offer when receiving orders. This element can optionally be left empty. Attention: Maximum amount of characters: 20.","allowEmptyValue":false},"Title":{"type":"string","example":"Lorem ipsum","description":"Title of the product as shown on the bol.com webshop. When the EAN is unknown at bol.com, your input will be shown.  However, the bol.com title will be shown when it entails a known EAN.  Attention: Maximum amount of characters: 500.","allowEmptyValue":false}},"title":"UpsertRetailerOffer"}}}